<!-- kategoria -->
<div class="container filterPanel back-beige">
  <div class="row">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="col-md-10">Kategoria</th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td class="col-md-10">{{category}}</td>
          <td class="col-md-2"><input type="checkbox" name="" value="" class="form-control"/></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <!-- nowe/używane -->
  <div class="row">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="col-md-10">Stan</th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let state of itemStates">
          <td class="col-md-10">{{state}}</td>
          <td class="col-md-2"><input type="checkbox" name="" value="" class="form-control"/></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <!-- cena od/do -->
  <div class="row">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="col-md-4">Cena</th>
          <th class="col-md-8"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cena od: </td>
          <td><input type="text" name="" value="" class="form-control" /></td>
        </tr>
        <tr>
          <td>Cena do: </td>
          <td><input type="text" name="" value="" class="form-control" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
