@page
@model LockoutModel
@{
    ViewData["Title"] = "Ban";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">To konto zostało zablokowane, sprawdź ponownie później.</p>
</header>
