@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Uwierzytelnianie dwuskładnikowe (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Nie masz już żadnych kodów odzyskujących.</strong>
            <p>Musisz <a asp-page="./GenerateRecoveryCodes">wygenerować nowy zestaw</a> zanim będziesz mógł się zalogować w ten sposób.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>PozostałCi 1 kod odzyskujący.</strong>
            <p> <a asp-page="./GenerateRecoveryCodes">Wygeneruj nowy zestaw kodów odzyskujących</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>pozostało Ci @Model.RecoveryCodesLeft kodów odzyskująych.</strong>
            <p><a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Zapomnij tę przeglądarkę</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">Disable 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Zresetuj kody odzyskiwujące</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Dodaj aplikację uwierzytelniającą</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Skonfiguruj aplikację uwierzytelniającą</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Zresetuj aplikację uwierzytelniającąp</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}